$fuente-primaria: "Comic Sans MS", sans-serif;
$color-fondo: #3a2a53;
$color-fondo2: #eeeeee;
$color-btn: #2d2d33;
$color-btn--hover: #3b3b44;
$color-btn--active: #150074;
$color-btn--active2: #000957;
//class="btn btn--100 btn--rojo"
